@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="user-panel">
    <div class="pull-left image">
        <img src="/api/core/globals/avatar" class="img-circle" alt="User Image">
    </div>
    <div class="pull-left info">
        <p v-if="runtimeSettings">@UserManager.GetUserName(User)</p>
        <span style="font-size: 10px;"><i id="signalrStatusSymbol" class="far fa-circle text-success"></i>&nbsp;&nbsp;<span id="signalrStatusText">Online</span></span>
    </div>
</div>
