<div class="animated fadeIn" id="myntStatistics" v-if="myntStatisticsData">
  <h1 class="mt-5">Performance</h1>
  <h3 class="mt-5">Best or worst Coins</h3>

  <div v-if="myntStatisticsData.profitCoins.Count =! null">
    <p v-if="myntStatisticsData.profitCoins.Count == 0">No coins traded!</p>

    <div class="row" v-if="myntStatisticsData.profitCoins.Count > 0">
      <template v-for="(value, key, index) in myntStatisticsData.profitCoins">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="card text-white bg-primary ">
            <div class="card-body">
              <div class="row">
                <div class="col-md-8">
                  <h4 class="card-title">Coin: {{myntStatisticsData.profitCoins[key].key}}</h4>
                </div>
                <div class="col-md-4">
                  <!--<a href="#" class="btn btn-primary btn-xs">! see more</a>-->
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <h4 class="card-title">Result:  {{myntStatisticsData.profitCoins[key].value}} %</h4>
                </div>
                <div class="col-md-4">
                  <!--<a href="#" class="btn btn-primary btn-xs">! see more</a>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
    </div>
  </div>
</div>




<script src="/vendors/vue/js/vue.min.js"></script>


<script>
  var pagefunction = function () {
  };

  var myntStatistics = new Vue({
    el: '#myntStatistics',

    data: {
      myntStatisticsData: null
    },

    created: function () {
      this.connectSignalr();
      this.fetchData();
    },

    methods: {
      connectSignalr: function () {
        var self = this;
        let hubRoute = "/signalr/HubMyntStatistics";
        let protocol = new signalR.JsonHubProtocol();
        var options = {};

        var connection = new signalR.HubConnectionBuilder()
          //.configureLogging(signalR.LogLevel.Trace)
          .withUrl(hubRoute, options)
          .withHubProtocol(protocol)
          .build();

        var connectSignalr = function () {
          connection.start().then(function () {
            //Make sure to register this signalr client - Needed for disconnect on page change
            addSignalrClient(hubRoute, connection);
          }).catch(function (err) {
            console.log(err);
          });
        };

        var reconnectSignalr = function () {
          console.log(signalrConnections);
          if (signalrConnections[hubRoute] != null) {
            setTimeout(function () {
              console.log("reconnnect");
              connectSignalr();
            }, 5000);
          }
        }

        connection.on('Send', function (msg) {
          console.log("Msg from signalR: " + msg);
          self.updateData();
        });

        connection.onclose(function (e) {
          if (e) {
            console.log('Connection closed with error: ' + e);
          }
          else {
            console.log('Disconnected');
          }
          //Reconnect -> This connection should never be offline
          reconnectSignalr();
        });

        connectSignalr();
      },

      fetchData: function () {
        var self = this;
        $.get("/api/mynt/traders/statistics", function (data) {
          self.myntStatisticsData = data;
          self.$nextTick(function () {
            pagefunction();
          });
        });
      },
      updateData: function () {
        var self = this;
        $.get("/api/mynt/traders/statistics", function (data) {
          self.myntStatisticsData = data;
        });
      },
    }
  });
</script>
